@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
  .menu-principal{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      background-color: rgba(255, 255, 255, 0.95);
      background-image: url('../../public/imagens/overlay.png');
      width: 100%;
      height: 4em;
      line-height: 4em;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      cursor: default;
      font-size: .8rem;
  }

  .menu-principal ul {
    position: relative;
    z-index: 1001;
  }

  .menu-principal li{
    display: inline-block;
    margin: 0 0.5em 0 0.5em;
    top: 0;
    position: relative;
    transition: top .15s ease-in-out;
  }

  .menu-principal a{
    transition: background-color .075s ease-in-out, color .075s ease-in-out;
    position: relative;
    display: block;
    text-decoration: none;
    color: #6b7770;
    top: -6px;
    padding: 6px 1.5em 0.25em 1.5em;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    outline: 0;
  }

  .menu-principal li:hover:not(.ativo) {
    top: 3px;
  }

  .menu-principal  li:hover a{
    background: #C1CAC5;
    color: #fff;
  }

  .menu-principal li.ativo a{
    background: theme('colors.cor-principal');
    color: #fff;
    top: -3px;
  }


  .menu-hamburger{
    transition: all .3s !important;
  }

  .menu-hamburger span{
    border-radius: 10px;
    transition: all .3s !important;
  }

  .menu-hamburger.ativo span:nth-child(1){
    transform: rotate(45deg) translate(10px,10px)
  }

  .menu-hamburger.ativo span:nth-child(2){
    transform: translateX(100px);
    opacity: 0;
  }
  .menu-hamburger.ativo span:nth-child(3){
    transform: rotate(-45deg) translate(8px,-8px);
  }

  .menu-principal-mobile{
    background-image: url(../../public/imagens/overlay.png);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .menu-container-links{
    transition: transform .3s !important;
    right: 0;
    transform: translateX(800px);
    will-change: transform;
  }
  .menu-container-links.mostrar{
    transform: translateX(10px) !important;
    will-change: transform;
  }

  .menu-container-links li.ativo {
    background-color: theme('colors.cor-principal');
    padding: theme('spacing.2');
    box-shadow: theme('boxShadow.xl');
    color: #fff;
    border-radius: 0;
    font-weight: 500;
  }


  .menu-configuracao li{
    padding: 10px;
    border-radius: theme('borderRadius.lg');
  }

  .menu-configuracao li.ativo{
    background: theme('colors.cor-principal');
    color: #fff;
    background-color: theme('colors.cor-principal');
    padding: theme('spacing.2');
    box-shadow: theme('boxShadow.xl');
    /* color: #000; */
  }

  .destacar{
    background: theme('colors.cor-principal');
    color: white;
    padding: 2px 10px;
    display: inline-block;
  }

  .header-img{
    background-image: url('../../public/imagens/bg_sp.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .container-site{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-site + div{
    width: 100vw;
    max-width: 1124px
  }

  .container-site.container-main >div{
    width:100vw;
    max-width: 1124px;
    min-height: calc(100vh - 582px);
    box-shadow: 0px 1px 6px 0px silver;
  }

  .container-section{
    background: white;
    position: relative;
    padding: 25px 15px;
    /* box-shadow: 4px 4px 3px -2px #c0c0c0c4; */
    z-index: 10;
  }

  .container-section-main{
    position: relative;
  }
  

  .title-site{
    line-height: 1;
    font-size: 1rem;
    letter-spacing: 2px;
    border-left: 7px solid #5e5f6e;
    padding: 4px 5px 4px 4px;
    background: #989898;
    display: inline-block;
    color: white;
    transform: rotate(-17deg);
    position: absolute;
    top: 0;
    transform: translate(-21%, 1%) rotate(349deg);
    box-shadow: 2px 2px 4px 1px #757789;
  }
 
  .container-section-main::after{
    content: '';
    position: absolute;
    bottom: -8px;
    right: 1%;
    width: 45%;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    transform-origin: right;
    transform: skewY(2deg);
    z-index: 9;
    filter: blur(5px);
  }
  .container-section-main::before{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 1%;
    width: 45%;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    transform-origin: left;
    transform: skewY(-2deg);
    z-index: 9;
    filter: blur(5px);
  }


  @media screen and (max-width:767px){
    .container-section-main::after, .container-section-main::before{
      bottom: -4px;
    }
    .container-section-main::after{
      transform: skewY(3deg);
      right: 2%;
    }
    .container-section-main::before{
      transform: skewY(-3deg);
      left: 2%;
    }
  }
  

  footer{
    border-top: 5px solid theme('colors.cor-principal');
  }

    /* width */
  ::-webkit-scrollbar {
    width: 9px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #969696; 
    /* background: #091659; */
    border-radius: 3px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /* background: #050c30; */
    background: #6f6f6f;
  }

}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}
